











*,
*::before,
*::after {

  background-repeat: no-repeat;
}

:root {
	--index: calc(1vw + 1vh);
	--text: #e7e7e0;
	--transition: transform .75s cubic-bezier(.075, .5, 0, 1);
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: Arial, Verdana, sans-serif;
  color: #fff;
  background-color: #070217;
  height: 100vh;
}



/* меню */




.navbar {
  position: fixed;
  width: 100%;
  z-index: 1000;
}
.navbar-collapse {
  flex-grow: 0;
}

.bg_navbar {
background:rgb(4, 0, 17);
}


/* Общее */

.title{
  padding-top: 100px;
}


.content {
  display: inline-block;
  width: 100%;
}




/* Главная */

.main-header {
	position: relative;
  height: 100vh;
display: flex;
justify-content: center;
align-items: center;
margin-top: auto;

background-image: url('../img/gif.gif');
background-size: 100% 100vh;

will-change: transform;
}
.main-header::after {
	content: '';
	position: absolute;
	z-index: 100;
	width: 100%;
	height: calc(var(--index) * 10);
	background-image: url();
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	bottom: calc(var(--index) * -4.5);
}


.layers {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	overflow: hidden;
	position: relative;
}
.layer {
	height: 100%;
	width: 100%;
	position: absolute;
	background-size: cover;
	background-position: center;
	will-change: transform;
	z-index: 2;
	transition: var(--transition);
  opacity: 70%;
}
.layers__base {
	transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0);
	z-index: 0;
}
.layers__middle {
	transform: translate3d(0, calc(var(--scrollTop) / 2.5), 0);
}
.layers__front {
	transform: translate3d(0, calc(var(--scrollTop) / 5.7), 0);


}



.layer__header {
	z-index: 1;
	transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
	transition: var(--transition);
	will-change: transform;
	text-transform: uppercase;
	font-weight: 900;
	color: var(--text);
	text-shadow: 0 0 15px #9d822b;
}
.layers__title {
	font-size: calc(var(--index) * 2.65);
	letter-spacing: calc(var(--index) / 2.25);
}
.layers__caption {
	font-size: calc(var(--index) / 1.175);
	letter-spacing: calc(var(--index) / 3.5);
	margin-top: calc(var(--index) * -.75);
}
.main-article {
	--main-article-transform: translate3d(0, calc(var(--scrollTop) / -7.5), 0);
	min-height: 100vh;
	background-size: cover;
	background-position: center;
	color: var(--text);
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	text-align: center;
	/* Update: */
	top: -1px;
	z-index: 10;
}
.main-article__header {
	text-transform: uppercase;
	font-size: calc(var(--index) * 1.8);
	letter-spacing: calc(var(--index) / 7.5);
	transform: var(--main-article-transform);
	transition: var(--transition);
	will-change: transform;
}
.main-article__paragraph {
	max-width: calc(var(--index) * 30);
	font-size: calc(var(--index) * .9);
	margin-top: calc(var(--index) / 1.25);
	transform: var(--main-article-transform);
	transition: var(--transition);
	will-change: transform;
}



.logo_txt {
  max-width: 80%;
  z-index: 10;
}
.logo_svg {
  height: 50px;
}



.content {
  will-change: transform;
}



.copy {
	position: absolute;
	bottom: calc(var(--index) * 2.5);
	opacity: .45;
	font-size: calc(var(--index) * .75);
	letter-spacing: calc(var(--index) / 37.5);
}


/* гильдия */








.g_form  {
  margin-top: 120px;
    button {
      margin-right: 10px;
      margin-bottom: 10px;

    }

    iframe {
      margin-top: 10px;
    }
}

.guild {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
    a {
      margin-right: 10px;
    }
    a:last-child {
      margin-right: 0;
    }
}


/* новости */




/* медиа */



.carousel {
  max-width: 50%;
  margin-top: 20px;
  margin-left: 25%;
}




/* Контакты */




















/* медиа запросы */


@media(max-width: 767px){

  .guild {
    font-size: 18px;
  }

  }

