











*,
*::before,
*::after {

  background-repeat: no-repeat;
}

:root {
	--index: calc(1vw + 1vh);
	--text: #e7e7e0;
	--transition: transform 1.75s cubic-bezier(.075, .5, 0, 1);
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: Arial, Verdana, sans-serif;
  color: #fff;
  background-color: #070217;
  height: 100vh;
}



/* меню */




.navbar {
  position: fixed;
  width: 100%;
  z-index: 1000;
}
.navbar-collapse {
  flex-grow: 0;
}

.bg_navbar {
background:rgb(4, 0, 17);
}


/* Общее */

.title{
  padding-top: 100px;
}

#page {
  display: none;
}

.content {
  display: inline-block;
  width: 100%;
  will-change: transform;
}


#press_f {
  display:block;
  margin:auto;
mix-blend-mode: screen;
filter: invert(100%);
min-width: 100px;

}


/* Главная */


#loading-mask {
  background-color: #070217;
  display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  opacity: 1;
  -webkit-transition: opacity 600ms;
  -moz-transition: opacity 600ms;
  -ms-transition: opacity 600ms;
  transition: opacity 600ms;
}
#connecting {
  mix-blend-mode: lighten;
  opacity: 0;
  animation: ani_show 0.6s forwards;
}
@keyframes ani_show {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.main-header {
	position: relative;
  min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
margin-top: auto;
margin-bottom: 50%;

background-image: url('../img/gifwhitebluelow.gif');
background-size: 100% 100vh;

}
.main-header::after {
	content: '';
	position: absolute;
	z-index: 100;
width: 100%;

	height: calc(var(--index) * 50);
	background-image: url('../img/switchlayer.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	bottom: calc(var(--index) * -40);

}


.layers {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	overflow: hidden;
	position: relative;

}
.layer {
	height: 100%;
	width: 100%;
	position: absolute;
	background-size: cover;
	background-position: center;
	will-change: transform;
	z-index: 2;
	transition: var(--transition);

}
.layers__base {
	transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0);
	z-index: 0;
	opacity: 85%;
}
.layers__middle {
	transform: translate3d(0, calc(var(--scrollTop) / 2.5), 0);
	opacity: 40%;
}
.layers__front {
	transform: translate3d(0, calc(var(--scrollTop) / 3.7), 0);
	opacity: 80%;


}



.layer__header {
	z-index: 1;
	transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
	transition: var(--transition);
}
.layers__title {
	font-size: calc(var(--index) * 2.65);
	letter-spacing: calc(var(--index) / 2.25);
}
.layers__caption {
	font-size: calc(var(--index) / 1.175);
	letter-spacing: calc(var(--index) / 3.5);
	margin-top: calc(var(--index) * -.75);
}
.main-article {
	--main-article-transform: translate3d(0, calc(var(--scrollTop) / -5.9), 0);

	min-height: 100vh;
	background-size: cover ;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	text-align: center;
  text-shadow: 0 0 5px #000000;
	/* Update: */
	top: 1px;
	z-index: 10;
}
.main-article__header {
  margin-top:  calc(var(--index) * 19);
	text-transform: uppercase;
	font-size: calc(var(--index) * 1.8);
	letter-spacing: calc(var(--index) / 7.5);
	transform: var(--main-article-transform);
	transition: var(--transition);
	will-change: transform;
}
.main-article__paragraph {
	max-width: calc(var(--index) * 40);
	font-size: calc(var(--index) * .9);
	margin-top: calc(var(--index) / 1.25);
	transform: var(--main-article-transform);
	transition: var(--transition);
	will-change: transform;
  font-weight: 600;

}



.logo_txt {
  max-width: 80%;
  z-index: 10;
}
.logo_svg {
  height: 50px;
}





.copy {
	position: absolute;
	bottom: calc(var(--index) * 2.5);
	opacity: .45;
	font-size: calc(var(--index) * .75);
	letter-spacing: calc(var(--index) / 37.5);
}


/* гильдия */








.g_form  {
  margin-top: 120px;
    button {
      margin-right: 10px;
      margin-bottom: 10px;

    }

    iframe {
      margin-top: 10px;
    }
}

.guild {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
    a {
      margin-right: 10px;
    }
    a:last-child {
      margin-right: 0;
    }
}


/* новости */




/* медиа */



.carousel {
  max-width: 50%;
  margin-top: 20px;
  margin-left: 25%;
}




/* Контакты */




















/* медиа запросы */


@media(max-width: 767px){

  .guild {
    font-size: 18px;
  }

  }

